:root {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9; /* Unifying background for buttons */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #eee;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  background-color: white;
  border-bottom: solid;
}

.navbar{
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7A9A8;
  padding: 10px;
  color: #333;
  border-radius: 8px;
}

.header h2 {
  font-weight: bold;
  font-size: 24px;
}

.edit-habit-btn, .add-habit-btn {
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.edit-habit-btn:hover, .add-habit-btn:hover {
  background-color: #eee;
}

.days-of-week {
  display: grid;
  grid-template-columns: 1fr repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  padding: 10px;
  color: #333;
  background-color: #F7A9A8;
  border-radius: 8px;
}

.tracker {
  display: grid;
  grid-template-columns: 1fr repeat(7, 1fr);
  align-items: center;
  padding: 10px;
  gap: 10px;
  background-color: #FFF7F7;
  border-radius: 8px;
}

.tracker span {
  text-align: left;
  font-size: 18px;
}

.checkbox {
  margin: auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.checkbox:checked {
  background-color: #333;
}

.habit-item input[type="text"] {
  padding: 5px;
  width: 150px;
  font-size: 18px;
}

.modal {
  font-size: 20px;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

input[type="number"] {
  width: 50px;
  padding: 8px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="number"]:focus {
  border-color: #4CAF50;
}

input[type="number"]:hover {
  border-color: #888;
}

.delete-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.25em 1em;
  font-size: .8em;
  font-weight: 500;
  background-color: #dc00009c;
  cursor: pointer;
  transition: border-color 0.25s;
}
.delete-button:hover {
  border-color: #a4000098;
  background-color: #a4000098;
}
